<h3><%= @user.name %>のページ</h3>
<p>メールアドレス: <%= @user.email %></p>
<p>ステータス: <% if @user.admin? %>管理者<% else %>一般ユーザー<% end %></p>

 <table>
    <tr>
      <th><%= t('view.task.title') %></th>
      <th><%= t('view.task.content') %></th>
      <th><%= t('view.task.deadline')%></th>
      <th><%= t('view.task.created_at') %></th>
      <th><%= t('view.task.state') %></th>
      <th><%=t('view.task.priority')%></th>
      <th><%=t('view.task.label')%></th>
    </tr>
    <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td class= "task_row"><%= task.content %></td>
      <td class= "sort_expired_row"><%= task.deadline %></td> 
      <td ><%= task.created_at %></td>
      <td><%= task.state %></td>
      <td><%= task.priority %></td>
      <% task.labels.each do |label| %>
        <td class = "label_test"><%= label.title %></td>
      <% end %>
    </tr>
  </table>
  <% end %>